---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import Masthead from "../components/Masthead.astro";
import Content from "../components/Content.astro";
import { IoArrowForward } from "react-icons/io5";
import { Image } from "@astrojs/image/components";
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from "../config";

const posts = (await Astro.glob("./posts/*.md")).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            Website ini dibuat untuk semua angkatan KPI STAI Daarut Tauhiid
            untuk menyimpan semua hasil karya-karya mereka maupun itu tulisan,
            video, dan gambar, semoga website ini bisa dikembangkan lebih lanjut
            bersama-sama teman KPI, dan semoga website ini menjadi jalan kami
            untuk bisa berkarya dan mencari ridho Allah.
            <a
              href={HOMEPAGE_URL}
              target="_blank"
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              >Baca lebih lanjut tentang STAI Daarut Tauhiid <IoArrowForward
                className="inline"
              />
            </a>
          </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map((post) => (
                <li class="text-center mb-4">
                  <a href={post.url}>
                    <Image
                      class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                      src={post.frontmatter.heroImage}
                      width={720 * 2}
                      format="webp"
                      aspectRatio={2}
                      alt={post.frontmatter.heroImage}
                    />
                    <div class="mt-3 text-xl">{post.frontmatter.title}</div>
                    <div class="opacity-70">{post.frontmatter.description}</div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
